# Ansible managed

[Unit]
Description=Schlangenprogrammierspiel Relayserver
After=network-online.target
PartOf=spn.target

[Service]
WorkingDirectory=/opt/spn_meta
User=spn
ExecStart=/opt/spn_meta/helper_scripts/run_relayserver.sh
Restart=on-failure

[Install]
WantedBy=spn.target
