# {{ ansible_managed }}

# fix error 502 after reboot
resolver localhost ipv6=off;

server {
  listen {{ schlangenprogrammierspiel.web_port | default(80) }};
  server_name localhost;

  location / {
    proxy_pass http://localhost:8000;
  }

  location /websocket {
    proxy_pass http://localhost:9009;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
  }

  location /static/ {
    alias /opt/spn_static/;
  }

  location /static/docs/doxygen_cpp/html/ {
    alias /opt/spn_meta/website/docs/static/docs/doxygen_cpp/html/;
  }
}
